01-Web-Services-SOA-and-REST/WebServices/DistanceCalculatorSOAPClient/Service References/DistanceService/ServiceDistanceCalculator2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1709/ServiceDistanceCalculator.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DistanceCalculatorSOAPService" />
  <xs:element name="CalculateDistance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DistanceCalculatorSOAPService" minOccurs="0" name="start" nillable="true" type="q1:VectorPoint" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DistanceCalculatorSOAPService" minOccurs="0" name="end" nillable="true" type="q2:VectorPoint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateDistanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalculateDistanceResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>