01-Web-Services-SOA-and-REST/WebServices/DistanceCalculatorSOAPClient/Service References/ServiceReferenceCalculator/ServiceDistanceCalculator1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CalculateDistance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startX" type="xs:int" />
        <xs:element minOccurs="0" name="startY" type="xs:int" />
        <xs:element minOccurs="0" name="endX" type="xs:int" />
        <xs:element minOccurs="0" name="endY" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateDistanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalculateDistanceResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>